body {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navright {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navleft {
    margin-right: 50px;
}

.search-holder {
    display: flex;
    justify-content: center;
}

.sb-home {
    width: 275px;
    height: 40px;
    border: 4px solid lightgray;
    border-radius: 20px;
    outline: none;
    text-align: center;     
    margin-top: 10px;
}

.subheader {
    color: black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 20px
}

.article {
    background-color: rgb(214, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(71, 120, 160);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    transition: transform 0.5s, background-color 0.5s;
}

.article:hover {
    background-color: rgb(168, 200, 226);
    transform: scale(1.05);
}